
:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
    --color_primario: #8B4513; ;
    --color_primario_suave: #c7a07a3e;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#btnLimpiar {
    border-radius: 10px;
    height: 35px;
    width: 60px;
	color: #777;
	border: 2px solid #fff;
}

#btnLimpiar:hover{
	background-color:brown;
	color: white;
}




.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    color: var(--color_primario);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}


.heading-1 {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-navbar {
	background-color: var(--primary-color);
}


.menu {
	display: flex;
	gap: 2rem;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}



.menu-icon, #check{
	display: none;
}

.kfc {
    height: 30px;
}



@media (max-width: 952px){
	.search-form{
		padding-left: 10px;
		
	}

	a{
		font-size: 10px;
	}
}

@media (max-width: 858px){
	.menu-icon{
		display: block;
	}
	.menu{
		position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
	}

	.lin{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
	

	#check:checked ~ ul{
		left:0;
	}
}

@media (max-width: 600px) {
    a {
        font-size: 8px; /* Ajustar tamaño de fuente para pantallas más pequeñas */
    }
	.menu{
		position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
	}
	#check:checked ~ ul{
		left:0;
	}

    .menu-icon {
        padding: 10px; /* Espaciado adicional */
    }

    .lin {
        margin: 30px 0; /* Espaciado menor */
        line-height: 24px; /* Ajustar la línea */
    }

    nav ul li {
        margin: 30px 0; /* Espaciado menor */
    }
}

@media (max-width: 400px) {
    a {
        font-size: 7px; /* Tamaño de fuente más pequeño */
    }

	.menu{
		position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
	}
	#check:checked ~ ul{
		left:0;
	}
    .menu {
        top: 60px; /* Ajustar posición */
    }

    .lin {
        margin: 20px 0; /* Espaciado aún menor */
        line-height: 20px; /* Ajustar la línea */
    }

    nav ul li {
        margin: 20px 0; /* Espaciado aún menor */
    }
}

.list_icon {
    cursor: pointer;
}
.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: all .3s;
}

.link {
    font-size: 3em;
    color: var(--color_blanco);
    font-weight: bold;
}


/* Swiper container */
.swiper {
    width: 75%; /* Ajuste general del ancho */
    padding: 50px; /* Espacio alrededor */
    margin: 10; /* Centra el carrusel */
	margin-bottom: 50px;
    overflow: hidden; /* Asegura que no haya desbordamiento */
}

.swiper-slide {
    margin: 5%;
}

/* Card styling */
.card {
    width: 280px; /* Ancho fijo para todas las cards */
    height: 420px; /* Altura fija para todas las cards */
    background-color: #ecdbc6d8; /* Fondo gris muy claro para la tarjeta */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px; /* Espacio interno de la tarjeta */
}

.card img {
    width: 100%; /* Imagen ocupa el 100% del ancho de la card */
    height: 210px; /* Ajuste de altura para evitar que ocupe mucho espacio */
    object-fit: cover; /* Hace que la imagen se recorte para llenar el espacio */
    border-radius: 15px; /* Bordes suaves en la imagen */
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

.card-description {
    color: #4e342e; /* Texto marrón oscuro */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 22px;
    margin: 5px 0; /* Espacio entre el título y el texto */
    text-align: center; /* Centra el título */
    color: #7b3f14; /* Marrón medio para el título */
}

.card-text p {
    font-size: 13px; /* Tamaño de fuente más pequeño para evitar desbordamiento */
    line-height: 1.4;
    color: #3e2723; /* Texto más oscuro */
    text-align: justify; /* Justifica el texto de la descripción */
    margin: 0;
}

.card-link a {
    display: inline-block;
    padding: 8px 12px; /* Botón más pequeño y elegante */
    background-color: #7c4d2c; /* Botón marrón medio */
    color: rgb(238, 236, 234);
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px; /* Tamaño adecuado del texto en el botón */
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Espacio entre el texto y el botón */
    cursor: pointer;
}

.card-link a:hover {
    background-color: #6d4c41; /* Efecto hover en el botón */
}


/* Hover effect on cards */
.card:hover {
    transform: scale(1.03); /* Aumento sutil al pasar el mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al hacer hover */
}

.swiper-button-next, .swiper-button-prev {
    z-index: 10; 
    width: 50px;
    height: 50px;
    top: 50%; 
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 10px; 
	color: hsl(29, 66%, 17%); 
}

.swiper-button-next {
    right: 10px; 
	color: hsl(29, 66%, 17%); 
}

.swiper-pagination-bullet {
    background: #8d6e63; 
}









/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
    padding: 20px 0 15px;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: all .3s;
}


.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.checkbtn{
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}



.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	width: 290px;
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    height: 50px;
    overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	color: #777;
	cursor: pointer;
	margin: 15px;
}


.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 10px;
	width: 5rem;
}

.btn-search svg {
	font-size: 2rem;
}
.btn-search:hover{
	color: white;
	background-color: chocolate;
}

.lupa::after{
	color: white;
}


.banner {
	background-image: linear-gradient(100deg, #544141, #734e4e2f);
	height: 400px;
	background-size: cover;
}

.content-banner {
	max-width: 1000px;
	margin: 0 auto;
	padding: 150px 0;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}



/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.navbar {
		padding: 1rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
		cursor: pointer;
	}

	.menu {
		display: none;
		flex-direction: column;
		background-color: var(--primary-color);
		width: 100%;
	}

	.menu.active {
		display: flex;
	}

	.menu li {
		text-align: center;
		margin: 0;
	}

	.menu a {
		padding: 1rem;
	}

	.search-form input {
		width: calc(100% - 5rem);
	}

	.search-form .btn-search {
		width: 5rem;
	}
}

/* Tablet view */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.contenedor-libro {
		flex-direction: column;
	}

	.libro-cover {
		width: 100%;
		max-width: 300px;
	}

	.libro-info h1 {
		font-size: 24px;
	}

	.libro-info p {
		font-size: 16px;
	}

	.card-category {
		height: auto;
	}

	.card-category p {
		font-size: 1.8rem;
	}

	.card-category span {
		font-size: 1.2rem;
	}

	.menu-footer {
		grid-template-columns: 1fr;
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


